// .py-4.card{

//     border-radius: 12px !important;
// }
// body{
//     background-color: black !important;
// }
// body{
//     .container{
//         .row{
//             .col-md-4{
//                     img{
//                         border-radius: 23%;
//                     }
//                 }
//             }
//         }
//     }

// img{
//     border-radius: 50%;
//     border: 2px solid red;
// }
 .mb-3{
 border-radius: 12px; 

 img{
     border-radius: 12px;
 }
}
.mb-3:hover{
    transform: scale(1.05, 1.05);
        box-shadow: 0px 8px 16px 0px #f19797;
}
.btn{
    justify-content: center;
}